params.index_basename = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/fastq/mm39"
params.input_dir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/2024/li/nextflow/test_on_cluster/fastq"
params.gtf_file = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/Mus_musculus.GRCm39.109.gtf"
params.pairedEnd = true
params.project_dir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/2024/li/nextflow/test_on_cluster/"



// Enable Singularity. Set default docker image
process {
    
    container = 'nfcore/rnaseq:1.4.2'

    withName: FASTQC {
        container = 'staphb/fastqc'
    }

    withName: READ_TRIM_GALORE {
        container = 'dukegcb/trim-galore'
    }

    withName: ALIGNMENT_STEP {
        container = 'aarthir239/hisat2'
    }

    withName: SORTED_BAM_STEP {
        container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }

    withName: COUNTS_STEP {
        container = 'thatdnaguy/featurecounts:v2.0.6_02'
    }

    withName: COUNTS_MATRIX {
        container = 'biocontainers/pandas:1.5.1_cv1'
    }

    withName: MULTIQC_STEP {
        container = 'multiqc/multiqc'
    }
}

params {
    max_cpus = 1
    max_memory = 8.GB
    max_time = 1.h
}

profiles {
    minerva {
        process.executor = 'LSF'
        process.queue = 'premium'
        process.memory = '16 GB'
        process.time = '5 min'
        process.cpus = 1
        process.clusterOptions = " -P acc_Nestlerlab "

        withName: 'ALIGNMENT_STEP' {
            memory = '32 GB'
        }
}
}

singularity.enabled = true

singularity {
    cacheDir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/singularity_cache"
    runOptions = '--bind /sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/:/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse'
}

