params {
    project_dir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/2025/li/test_nextflow_jun4"
    index_files = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/fastq/"
    index_basename = "mm39"
    experiment_type = 'chipseq'
    pairedEnd = false
    multiqc_config = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/NGS-Data-Charmer/multiqc_config_template.yaml"
    umi_present = false
    umi_1 = "X"
    umi_2 = "NNNNNNNN"
    gtf_file = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/Mus_musculus.GRCm39.109.gtf"
    count_unique = true
    count_fraction = false
    polyA = false
}

singularity {
    enabled = true
    cacheDir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/2025/li/test_nextflow_jun4/singularity_cache"
    runOptions = "--bind ${params.multiqc_config}:${params.multiqc_config} --bind ${params.index_files}:${params.index_files}"
}

profiles {

    local {
        process.executor = 'local'
        process.cpus = 4
    }

    minerva {
        process.executor = 'LSF'
        process.queue = 'premium'
        process.memory = '16 GB'
        process.time = '30 min'
        process.cpus = 1
        process.clusterOptions = " -P acc_Nestlerlab "

        withName: 'ALIGNMENT_STEP' {
            memory = '32 GB'
            cpus = 16
            time = '1h'
        }

        withName: 'READ_TRIM_GALORE' {

            time = '1h'

        }
}
}


process {

    withName: 'FASTQC' {
        container = 'fastqc.sif'
    }

    withName: 'READ_TRIM_GALORE_BASIC|READ_TRIM_GALORE_POLYA' {
        container = 'trim-galore.sif'
    }

    withName: 'ALIGNMENT_STEP' {
        container = 'hisat2.sif'
    }

    withName: 'CLIP_DISCORDANT_SAMTOOL_CUTRUN|SORT_BAM_CHIPSEQ|SORTED_BAM_STEP|SORT_DISCORDANT_CUTRUN|MERGE_DISCORDANT_CUTRUN|RMDUP_TO_CHRBAM' {
        container = 'samtools.sif'
    }

    withName: 'COUNTS_STEP' {
        container = 'featurecounts.sif'
    }

    withName: 'COUNTS_MATRIX' {
        container = 'pandas.sif'
    }

    withName: 'RUN_MULTIQC' {
        container = 'multiqc.sif'
    }

    withName: 'PICARD_RMDUPS_BAM|CALC_INSERT_SIZE' {
        container = 'picard.sif'
    }

    withName: 'CREATE_BED' {
        container = 'bedtools.sif'
    }

    withName: 'CLIP_DISCORDANT_BAMUTIL_CUTRUN' {
        container = 'bamutil.sif'
    }

    withName: 'CREATE_BW' {
        container = 'deeptools.sif'
    }  

    withName: 'READ_TRIM_UMI|UMI_RMDUPS_BAM' {
        container = 'umitools.sif'
    }
}
