// Set RNA-seq specific parameters

// Path to your project folder containg the fastq file folder
params.project_dir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/2024/li/nextflow/demo"

// Path to the folder of HISAT2 index files
params.index_files = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/fastq/"

// Basename of HISAT2 index
params.index_basename = "mm39"

// Path to your GTF file
params.gtf_file = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/ref/ensembl_109/mouse/Mus_musculus.GRCm39.109.gtf"

// Is your data single or paired-end? If paired-end, set to true
params.pairedEnd = true

// Path to your multiqc configuration file 
params.multiqc_config = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/NGS-Data-Charmer/multiqc_config_template.yaml"

// Counting scheme for featureCounts 
// Set count_unique to true and count_fraction to false if you want to assign unique read counts to features
// Set count_fraction to true and count_unique to false if you want to assign fractional counts to features 
// Set both to false if you prefer to count all reads for each feature
params.count_unique = true
params.count_fraction = false

// Singularity specific parameters (Leave it as true)
singularity.enabled = true

// cacheDir: Set the directory in which you have downloaded the singularity images
// runOptions: Do not change
singularity {
    cacheDir = "/sc/arion/projects/Nestlerlab/shenl03_rna/aarthi/singularity_cache"
    runOptions = "--bind ${params.multiqc_config}:${params.multiqc_config} --bind ${params.index_files}:${params.index_files} --bind ${params.gtf_file}:${params.gtf_file}"
}


// You may want to increase the process.time parameter under 'minerva' profile to '2h' if fastq files are large
profiles {

    local {
        process.executor = 'local'
        process.cpus = 4
    }

    minerva {
        process.executor = 'LSF'
        process.queue = 'premium'
        process.memory = '16 GB'
        process.time = '30 min'
        process.cpus = 1
        process.clusterOptions = " -P acc_Nestlerlab "

        withName: 'ALIGNMENT_STEP' {
            memory = '32 GB'
            cpus = 16
            time = '1h'
        }

        withName: 'READ_TRIM_GALORE' {

            time = '1h'

        }
}
}


// Do not modify the following

process {
    
    container = 'nfcore/rnaseq:1.4.2'

    withName: FASTQC {
        container = 'fastqc.sif'
    }

    withName: READ_TRIM_GALORE {
        container = 'trim-galore.sif'
    }

    withName: ALIGNMENT_STEP {
        container = 'hisat2.sif'
    }

    withName: SORTED_BAM_STEP {
        container = 'samtools.sif'
    }

    withName: COUNTS_STEP {
        container = 'featurecounts.sif'
    }

    withName: COUNTS_MATRIX {
        container = 'pandas.sif'
    }

    withName: MULTIQC_STEP {
        container = 'multiqc.sif'
    }
}

cleanup = true
